[submodule "include/jsoncpp"]
	path = include/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "include/liblo"]
	path = include/liblo
	url = https://github.com/radarsat1/liblo.git
